extends layout

block body
  main
    picture.logo
      img(src='/logo.png' alt='webtorrentseeder.com' width="100%")
    p.subtitle Streaming file transfer over <a href="http://webtorrent.io" target="_blank">WebTorrent</a> (torrents on the web)

    h1#logHeading(style='display: none') Log
    .speed
    .log

    section
      h1 Check your connection 
      p(id='p-nat-type')
        | You have a...
      p Only "Permissive" NAT types (most users) can join the webtorrent swarm.
      p Problems with NAT Detection? Check the <a href="/config">configuration.</a>

    section
      h1 Add File to start swarm
      p
        | Drag-and-drop files to begin seeding. Or choose a file:
        | #{ ' ' }
        input(type='file', name='upload', multiple)
      p
        | Current Webtorrent Trackers:
        | #{ ' ' }
        input(type='text', id='trackers' style='width: 100%; font-family: monospace;')
      

    hr

    section
      h1 Download and then serve file:
      form
        label(for='torrentId') Magnet link:
        br
        textarea(name='torrentId', id="input-torrent-id" placeholder='magnet:?xt=urn:btih:4053f84988c249c7efa6643...', rows="3", style="width: 100%;", required)
        br
        button(type='submit' id="btn-submit") Download

    hr

    section
      h1 Or check the health of a magnet link
      iframe(src="https://checker.openwebtorrent.com/", frameborder="0")

    footer
      p Powered by <a href="https://webtorrent.io" target="_blank">WebTorrent</a>. 100% open source &amp; free software. Source code available on <a href="https://github.com/zackees/instant.io" target="_blank">GitHub</a>. © 2022 Zach Vorhies.
